## --- .NET Core standard ---
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
*.userprefs
skills

## --- Security (MAI committare chiavi API) ---
appsettings.Development.json
secrets.json

## --- Docker & Environment ---
# Escludiamo i volumi dei dati (i DB locali) per non caricare GB su GitHub
.docker/
docker-compose.override.yml

## --- OS Files ---
.DS_Store
Thumbs.db

Xplore.API/uploads/